body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    border-left: 1px solid black;
}

h1 {
    position: relative;
    font-size: 10vh;
    text-transform: uppercase;
    text-align: center;
    margin: 8vh 0;
    line-height: 1;
}

h1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: yellow;
    z-index: -1;
    transform: translateX(-0%) translateY(-0%);
}

p {
    padding: 4vh;
    font-size: 20px;
    color: black;
    max-width: 70%;
    margin: auto;
}

.wp-block-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin-left: 12.5%;
}

.ImgStyling {
    width: 65vh;
    height: 55vh;
}

.InstaLogo {
    margin-right: 50vh;
}
#biographylines{
    position: relative;
    height: 1000px;
    width: 2px;
    margin: 80px;
}

.biography-line {
    position: absolute;
    left: -70px;
    width: 400px;
    height: 3px;
    background-color: yellow;
}

#bio-1 { top: 7%; }
#bio-2{ top: 24.28%; }
#bio-3 { top: 42.57%; }
#bio-4{ top: 74.71%; }


.biography-label {
    position: absolute;
    left: 110px;
    top: -40px;
    white-space: nowrap;
    font-weight: bold;
}
.biography-text {
    position: absolute;
    left: 80px;
    top: 17px;
    color: black;
    z-index: 1;
    font-size: 16px;
    white-space: nowrap;
    margin-right: 400px;
}
.Copyright {
    display: flex;
    justify-content: flex-end;
    padding: 3vh;
    font-weight: bold;
    Border-top: 0.5vh solid;
}
a{
    text-decoration: underline;
    color: black;
}
.year {
    font-weight: bold;
    padding: 0.7vh;
}