/*  deze styling page is alleen voor de Title van de pagina */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
    line-height: 1;

}

h1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 3px;
    background-color: yellow;
    z-index: -1;
    transform: translateX(-0%) translateY(-0%);
}

p {
    padding: 40px;
    font-size: 20px;
    color: black;
}

.wp-block-columns {
    display: flex;
    gap: 20px;
}

